[Unit]
Description=Run Meifu download cache cleanup every hour

[Timer]
OnBootSec=15min
OnUnitActiveSec=1h
RandomizedDelaySec=5min
Persistent=true
Unit=meifu-download-cache-gc.service

[Install]
WantedBy=timers.target
